html {
  font-size: 20px;
}

.theatre {
  text-align: center;
}

.theatre img,
.is-pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.theatre img {
  width: 400px;
  height: auto;
}

.main-container {
  padding: 1.5rem;
}