html {
  font-size: 20px;
}

.container {
  background: white;
  display: flex;
  justify-content: center;
}

.theatre img {
  width: 400px;
  height: auto;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}